# ROTR board configuration

# Copyright (c) 2021 Polarity Works
# SPDX-License-Identifier: MIT

if BOARD_ROTR

config BOARD
	default "rotr"

config ZMK_USB
	default y

config ZMK_KEYBOARD_NAME
	default "ROTR"

config ZMK_KSCAN_MATRIX_POLLING
	default y




endif # BOARD_ROTR
